/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
/* debug */
.debug .logo {
  background-color: #000;
  color: #fff;
  text-align: right;
}

/* utility */
.pt_6 {
  padding-top: 17rem;
}
.btn_dark {
  background-color: #363636;
}
.btn_red {
  background-color: #cd3d0f;
  color: white;
}
.card_only {
  border: 2px solid #318dd7;
  border-radius: 1rem;
  background-color: white;
  padding: 0.25rem;
}
.rounded_3 {
  border-radius: 1rem;
}
/* Header */

/* Main */

/* jumbo */
.main_jumbo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.bg_jumbo {
  background-image: url("./img/jumbo-bg.png");
}

.logo_takes {
  height: 150px;
}
/* new games */
.new_games {
  background-color: #1f1f1f;
}
/* plus */
.plus {
  background-color: #bebcbb;
}
/* now */
.now {
  background-color: #161c3b;
}
/* Footer */
.site_footer {
  background-color: #00439c;
}
