/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
/* debug */
.debug .logo {
  background-color: #000;
  color: #fff;
  text-align: right;
}

/* utility */
.jumbo_img {
  object-fit: cover;
}
.btn_dark {
  background-color: #363636;
}
/* Header */

/* Main */

.returnal {
  height: 50px;
}
.logo_takes {
  height: 150px;
}
/* new games */
.new_games {
  background-color: #1f1f1f;
}
/* plus */
.plus {
  background-color: #bebcbb;
}
/* now */
.now {
  background-color: #161c3b;
}
/* Footer */
.site_footer {
  background-color: #00439c;
}
